body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    background-image: url('path-to-your-retro-background.png');
    background-repeat: repeat;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background: #1a1a1a;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #76BA1B;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#logo {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: #76BA1B;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #76BA1B;
    border-radius: 5px;
    background-color: #2a2a2a;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #76BA1B;
    color: #000;
}

.language-select {
    margin-left: 20px;
    padding: 5px;
    background-color: #2a2a2a;
    color: #76BA1B;
    border: 2px solid #76BA1B;
	
}

main {
    padding: 20px;
    background-color: #1a1a1a;
    border: 0px dashed #76BA1B;
    box-shadow: 0 0 0px rgba(118, 186, 27, 0.5);
}

h1, h2 {
    color: #76BA1B;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 1.75em;
    margin-top: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #76BA1B;
    text-decoration: underline;
}

a:hover {
    color: #e0e0e0;
}

p {
    text-align: center;
    margin: 20px 0; 
}

/* Добавление стиля для кнопок */ 
button {
    background-color: #76BA1B;
    color: #000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #65a71c; /* Темный зеленый при наведении */
} 
footer {
	border-top: 3px solid #76BA1B;
	color: #76BA1B;
	
}

#contentBox {
    background: #1a1a1a;
    padding: 15px;
    border: 3px dashed #76BA1B;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 0 auto; 
    width: 15rem; 
}


#content {
    color: #e0e0e0;
	width: 10rem;
}

#refreshButton {
    position: absolute;
    bottom: -15px; 
    right: calc(0% - 16px); 
    background-color: #1a1a1a;
    border: 3px dashed #76BA1B;
    cursor: pointer;
    color: #76BA1B;
    font-size: 1em;
    width: 30px;
    height: 30px;
    border-radius: 0 0 0 5px;
    outline: none;
	padding: 0;
	font-weight: bold;
}

#overlay {
    display: none;
    position: absolute;
    top: -25px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #76BA1B;
    padding: 5px;
    font-size: 1em;
    border-radius: 3px;
    white-space: nowrap; /* Для предотвращения переноса */
}

#refreshButton:hover + #overlay {
    display: block; /* Показываем оверлей при наведении на кнопку */
}
#outerContentBox{

    display: flex;
    justify-content: center;
}
